@model EmployeeManagement.EmployeeMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeMaster</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Employee_Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Employee_Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.JoiningDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.JoiningDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Address)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Address)
		</dd>



		<dt>
			@Html.DisplayNameFor(model => model.DepartmentMaster.Department_Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DepartmentMaster.Department_Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MobileNo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MobileNo)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Image)
		</dt>

		<dd>
			<img src="/Employee/RetrieveImage/@ViewBag.id" alt="" height=100 width=200 />
		</dd>

	</dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Employee_Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
